@charset "utf-8";

div, ul, li, p, form, h1, h2, h3, h4, h5, input, dl, dt, dd, fieldset, table, tr, td {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

body {
  font-size: 80%;
  color: #ffffff;
  background-color: #23232a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}