.container-header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container-header-visual {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-bottom: 120px;
  overflow: hidden;
}

.is-loaded {
  .container-header-visual {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
  }
}

@media (min-width: 680px) {
  .is-loaded {
    .container-header-visual {
      background-image: url(../../common/images/main.jpeg);
    }
  }
}