.page-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: -100%;
  background-color: rgba(47, 47, 56, 0.9);
  z-index: 10;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(0) translateZ(1px);
  transform: translateY(0) translateZ(1px);
  -webkit-transition: opacity 0.58s cubic-bezier(0.48, 0, 0.26, 1), -webkit-transform 0.58s cubic-bezier(0.48, 0, 0.26, 1);
  transition: opacity 0.58s cubic-bezier(0.48, 0, 0.26, 1), -webkit-transform 0.58s cubic-bezier(0.48, 0, 0.26, 1);
  transition: transform 0.58s cubic-bezier(0.48, 0, 0.26, 1), opacity 0.58s cubic-bezier(0.48, 0, 0.26, 1);
  transition: transform 0.58s cubic-bezier(0.48, 0, 0.26, 1), opacity 0.58s cubic-bezier(0.48, 0, 0.26, 1), -webkit-transform 0.58s cubic-bezier(0.48, 0, 0.26, 1);
  opacity: 0; }

.page-nav-inner {
  display: table;
  width: 100%;
  height: 100%; }

.page-nav-cont {
  display: table-cell;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.page-nav-list {
  display: inline-block;
  text-align: left;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl; }

.page-nav-list-item {
  font-size: 0.75rem;
  letter-spacing: 0.05em; }

.page-nav-list li + li {
  margin-right: 28px; }

.page-nav-list-item span {
  display: inline-block;
  padding: 10px 4px;
  background-color: #d4b079; }

.page-nav-list-item a {
  display: block;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  cursor: pointer; }

.page-nav-list-item a:hover {
  color: #2f2f38; }
